
@font-face {
  font-family: 'dino';
  src: local('dino'), url(fonts/bactosaurus-webfont.woff) format('woff'),
        local('dino'), url(fonts/bactosaurus-webfont.woff2) format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'dinosaur';
  src: local('dinosaur'), url(fonts/Din.woff) format('woff'),
        local('dinosaur'), url(fonts/Din.woff2) format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

#root > div > div.jumbotron {
  background-color: #73A16C;
   
}

#root > div > div.jumbotron > center > h5 {
  font-family: 'dino', sans-serif !important;
  font-size: 2.2vw;
 
}

#main-heading {
  font-family: 'dinosaur', sans-serif !important;
  font-size: 4vw;
  
}

#root > div > div.container > h2 {
  /* font-family: 'dino', sans-serif !important; */
  font-size: 2vw;  
  font-style: italic; 
}

#root > div > div.jumbotron > a {
  text-decoration: none;
}


.container {
 
  height: auto;
  position: relative;
  border: none;
  padding: 0%;
  /* display: flex; */
  justify-content: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.card {
  max-width: 300px;
  width: 300px;
  flex: 1;

}
.card img
{
  max-width: 100%;
  max-height: 100%;
  height: 175px;
  width: 300px;
  margin: auto;
  display: block;
}

.img {
    float: left;
    width:  100px;
    height: 100px;
    background-size: cover;
}

.flex-container {
    display: flex;
}
.col-sm {
    flex: 1;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

#centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dino-container{
   
  max-width: 150% !important;
  margin-right: 2em;
   
}


#dino-card{
  margin: auto;
  
}

#era-text.text-center{
  margin-top: 10px;
}

#era-card {
  background-color: #dfdfdf;
  padding: 10px;
  padding-top: 25px;
  border: none; 
}

.jumbotron {
  height:auto;
  padding:25px 0 !important;
}